ws-instant-payments/WebContent/wsdl/InstantPaymentServiceImpl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://instantpayment.service.ws.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://instantpayment.service.ws.com" xmlns:intf="http://instantpayment.service.ws.com" xmlns:tns1="http://request.instantpayment.service.ws.com" xmlns:tns2="http://response.instantpayment.service.ws.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://instantpayment.service.ws.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://request.instantpayment.service.ws.com"/>
   <import namespace="http://response.instantpayment.service.ws.com"/>
   <element name="isRunning">
    <complexType/>
   </element>
   <element name="isRunningResponse">
    <complexType>
     <sequence>
      <element name="isRunningReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="processPayment">
    <complexType>
     <sequence>
      <element name="makePaymentRequest" type="tns1:MakePaymentRequest"/>
     </sequence>
    </complexType>
   </element>
   <element name="processPaymentResponse">
    <complexType>
     <sequence>
      <element name="processPaymentReturn" type="tns2:MakePaymentResponse"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://request.instantpayment.service.ws.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://response.instantpayment.service.ws.com"/>
   <complexType name="MakePaymentRequest">
    <sequence>
     <element name="cardHolderName" nillable="true" type="xsd:string"/>
     <element name="cardNumber" nillable="true" type="xsd:string"/>
     <element name="cardSecurityCode" type="xsd:int"/>
     <element name="transactionNumber" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://response.instantpayment.service.ws.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://request.instantpayment.service.ws.com"/>
   <complexType name="MakePaymentResponse">
    <sequence>
     <element name="isProcessed" nillable="true" type="xsd:boolean"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="processPaymentResponse">

      <wsdl:part element="impl:processPaymentResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="isRunningResponse">

      <wsdl:part element="impl:isRunningResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="isRunningRequest">

      <wsdl:part element="impl:isRunning" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="processPaymentRequest">

      <wsdl:part element="impl:processPayment" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="InstantPaymentServiceImpl">

      <wsdl:operation name="isRunning">

         <wsdl:input message="impl:isRunningRequest" name="isRunningRequest">

       </wsdl:input>

         <wsdl:output message="impl:isRunningResponse" name="isRunningResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="processPayment">

         <wsdl:input message="impl:processPaymentRequest" name="processPaymentRequest">

       </wsdl:input>

         <wsdl:output message="impl:processPaymentResponse" name="processPaymentResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="InstantPaymentServiceImplSoapBinding" type="impl:InstantPaymentServiceImpl">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="isRunning">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="isRunningRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="isRunningResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="processPayment">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="processPaymentRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="processPaymentResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="InstantPaymentServiceImplService">

      <wsdl:port binding="impl:InstantPaymentServiceImplSoapBinding" name="InstantPaymentServiceImpl">

         <wsdlsoap:address location="http://localhost:8080/ws-instant-payments/services/InstantPaymentServiceImpl"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
