HelloService/WebContent/wsdl/InstaPayServiceImpl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://DefaultNamespace" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://DefaultNamespace" xmlns:intf="http://DefaultNamespace" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://DefaultNamespace" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="processPayment">
    <complexType>
     <sequence>
      <element name="amount" type="xsd:string"/>
      <element name="cardNumber" type="xsd:string"/>
      <element name="cardHolderName" type="xsd:string"/>
      <element name="securityCode" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="processPaymentResponse">
    <complexType>
     <sequence>
      <element name="processPaymentReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="processPaymentResponse">

      <wsdl:part element="impl:processPaymentResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="processPaymentRequest">

      <wsdl:part element="impl:processPayment" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="InstaPayServiceImpl">

      <wsdl:operation name="processPayment">

         <wsdl:input message="impl:processPaymentRequest" name="processPaymentRequest">

       </wsdl:input>

         <wsdl:output message="impl:processPaymentResponse" name="processPaymentResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="InstaPayServiceImplSoapBinding" type="impl:InstaPayServiceImpl">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="processPayment">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="processPaymentRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="processPaymentResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="InstaPayServiceImplService">

      <wsdl:port binding="impl:InstaPayServiceImplSoapBinding" name="InstaPayServiceImpl">

         <wsdlsoap:address location="http://localhost:8080/HelloService/services/InstaPayServiceImpl"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
